@font-face {
    font-family: 'p22_corinthia';
    src: url('../fonts/p22_corinthia.eot');
    src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/p22_corinthia.woff') format('woff'),
         url('../fonts/p22_corinthia.ttf') format('truetype'),
         url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*通用*/
.wrapper{max-width:1100px;margin: 0 auto;position: relative; }
body{background: #fff;font-family: Lato,arial,sans-serif;}
/*house*/
.house{width: 100%;height:900px;position: relative;background: url(../img/house.jpg) no-repeat center center;background-size: cover;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;}
header{width: 100%;height: 100px;background: rgba(16,34,51,.1);}
header .logo{display: block;float: left;font-size: 20px;margin-top: 42px;text-decoration: none;font-weight: bold;}
header a.menu_icon{text-decoration: none;display: none;float: right;width: 24px;height: 19px;margin-top:40px;background: url(../img/menu_icon.png) no-repeat;}
header a.menu_icon.opend{width: 19px;background: url('../img/close_menu_icon.png') no-repeat;}
header nav{float: right;}
header nav ul{list-style: none;float: left;overflow: hidden;margin-top: 42px;}
header nav ul li{float: left;margin-left: 50px;}
header nav ul li a,header nav .login_btn{text-decoration: none;color: #fff;font-family: Lato,arial,sans-serif;font-size: 16px;letter-spacing: 1px;}
header nav .login_btn{float: right;margin: 30px 0 30px 50px;padding: 11px 28px;border:2px solid #fff;background: transparent;transition: background .2s linear;-webkit-transition:background .2s linear;-moz-transition:background .2s linear;-o-transition:background .2s linear;}
header nav .login_btn:hover{background: #fff;color: #000;}
.house .heading{width: 100%;position: absolute;text-align: center;top: 30%;z-index: 9999;}
.house .heading h2{color: #fff;font-family:"p22_corinthia", arial,sans-serif;font-size: 100px;font-weight: lighter;position: relative;display: block;}
.house .heading h3{color: #fff;font-size: 14px;}
/*search*/
.search{width: 100%;height: 100px;background: #bfd9f2;position: relative;}
.search #search{display: block;width: 80%;height: 100px;float: left;margin: 0;padding: 0;background: #bfd9f2;color: #fff;font-size: 20px;text-transform: uppercase;letter-spacing: 1px;border: 0;outline: 0;}
.search #search::-webkit-input-placeholder{color: #95badf;}
.search #search::-moz-placeholder{color: #95badf;}
.search #search:-moz-placeholder{color: #95badf;}
.search #search:-ms-input-placeholder{color: #95badf;}
.search #submit_search{display: none;}
.search .search_icon{display: block;width: 26px;height: 26px;float: right;background: url(../img/search_icon.png) no-repeat;margin-top: 37px;transition: all .2s linear;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;}
.search .search_icon:hover{background: url(../img/search_icon_hover.png) no-repeat;}
/*list*/
.list{padding: 100px 0;}
.list ul.house_list{list-style: none;overflow: hidden;}
.list ul.house_list li{display: block;width: 30.909090909%;height: auto;position: relative;float: left;margin: 0 3.6363636% 3.6363636% 0; }
.list ul.house_list li:nth-child(3n+0){margin-right: 0;}
.list ul.house_list li img.house_img{width: 100%;height: auto!important;vertical-align: middle;}
.list ul.house_list li .price{position: absolute;top: 10px;left: 10px;padding:15px 20px;background: #fff;color: #514e4e;font-size: 16px;font-weight: bold;letter-spacing: 1px;border-radius: 2px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px; }
.list ul.house_list li .details{width: 89.0491124%;padding:2.84457373% 5.2254437% 8.034567332% 5.2254437%; border:1px solid #f2f1f1;border-top: 0;transition: all .2s linear;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;}
.list ul.house_list li:hover .details{border:1px solid #a0c3e5; border-top: 0;}
.list div.details h1{color: #676565;font-size: 16px;font-weight: bold;margin-bottom: 17px;}
.list div.details h1 a{color: #676565;text-decoration: none;}
.list div.details h2{color: #bababa;font-size: 12px;font-weight: normal;}
.list .more_list{width: 100%;text-align: center;margin-top:82px;}
.list .more_list_btn{text-decoration: none;color: #b0cce7;font-size:16px;font-weight: bold; padding: 20px 40px;border: 2px solid #bfd9f2;text-transform: uppercase;letter-spacing: 1px;text-align: center;transition: all .2s linear;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear; border-radius: 30px;-webkit-border-radius:30px;-moz-border-radius:30px;-o-border-radius:30px;}
.list .more_list_btn:hover{border:2px solid #2b89e6;color:#2b89e6; }
/*footer*/
footer{padding-top: 100px;background: #95badf;}
footer .links{width: 197px;}
footer .footer>ul{overflow: hidden;}
footer .footer>ul>li{display: block;float: left;list-style: none;margin-right: 60px;}
footer ul li.links>ul>li{display: block;width: 100%;list-style: none;margin-bottom: 24px;}
footer ul li.links>ul>li a{text-decoration: none;color: #fff;display: block;font-size: 16px;}
footer .footer>ul>li.about{width: 327px;}
footer .footer>ul>li:last-child{margin-right: 0;}
footer .about p{color: #fff;font-size: 16px;line-height: 38px;margin-top: -11px;}
footer .about li{display: inline-block;margin-right: 20px;margin-top: 30px;}
footer .about li a{background: url(../img/social.png) no-repeat;display: block;}
footer .about li a.facebook{width: 10px;height: 18px;background-position: 0 0;}
footer .about li a.twitter{width: 19px;height: 18px;background-position: -11px 0;}
footer .about li a.google{width: 10px;height: 18px;background-position: -31px 0;}
footer .about li a.skype{width: 17px;height: 18px;background-position: -43px 0;}
footer .rights{display: block;text-align: center;padding: 40px 0;margin-top: 60px;color: #fff;font-size: 14px;border-top: 1px solid #82abd4;}
footer .rights a.rights_link{font-weight: bold;text-decoration: none;}

/*响应*/
@media(max-width: 1500px){
    .house{height: 800px;}
}
@media(max-width: 1200px){
        .wrapper{max-width: 1000px;padding: 0 50px;}
        footer .footer>ul>li{margin-right: 5%;}
        footer .footer>ul>li.links{width: 16%;}
        footer .footer>ul>li.about{width: 30%;}
}
@media(max-width: 800px){
	.house{height: 600px;}
	.house .heading{width: 90%;padding: 0 5%;}
	.house .heading h3{margin: 0;left: 0;}
	header a.menu_icon{display: block;}
	header nav{position: absolute;display: none;width: 90%;top:92px;left: 5%;float: none;overflow: hidden;z-index: 9999;background: #fff;border-top: 2px solid #bfd9f2;}
	header nav.active{display: block;}
	header nav.login_btn{float: none;display: inline-block;width: 100%;margin: 0;border: 0;padding: 20px 0;text-align: center;background: #ccc;}
	header nav ul{display: block;width: 100%;text-align: center;margin-top: 0;}
	header nav ul li{display: block;width: 100%;float: none;margin-left: 0;}
	header nav ul li a{display: block;padding: 20px 0;border-bottom: 1px solid #ccc;}
	header nav ul li a:active{background: #ccc;}
	header nav ul li a,header nav.login_btn{color: #000;}
	header nav ul li:last-child{border:0;}
	.list ul.house_list li{width: 46%;margin: 0 8% 8% 0;}
	.list ul.house_list li:nth-child(3n+0){margin: 0 8% 8% 0;}
	.list ul.house_list li:nth-child(2n+0){margin-right: 0;}
	footer .footer>ul>li{width: 30%!important;margin-right: 5%;margin-bottom: 100px;}
    footer .footer > ul > li:nth-child(3){margin-right: 0;}
    footer .footer > ul > li.links li a{text-align: center;}
    footer .footer > ul > li.about{text-align: center;float: none;display: inline; margin-right: 100%; overflow: hidden;border-top: 1px solid #82abd4;
    }
}

@media (max-width:500px){
    .house .heading h2{font-size: 80px;}
	.house .heading h3{font-size: 16px;}
	.search #search{width: 80%;}
	.list ul.house_list li{width: 100%;margin-bottom: 60px!important;}
	.list ul.house_list li:last-child{ margin-bottom: 0!important;}
	.list ul.house_list li:nth-child(3n+0),.list ul.house_list li:nth-child(2n+0){ margin:0; }
	.list .more_list_btn{display: block;width: 100%;padding-left: 0!important;padding-right: 0!important;}
	footer .footer > ul > li.links,footer .footer > ul > li.about{float: none;width: 100%!important;margin-right: 0;margin-bottom: 50px;padding-bottom: 60px;}
	footer .footer > ul > li:last-child{padding-bottom: 0;}
	footer .footer > ul > li.links{border-bottom: 1px solid #82abd4;}
}
